*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
	}

html
	{
	min-height:100vh;
	font-size:20pt;
	font-family:arial,sans-serif;
	}

body
{
	--black: #000;
	--light-black: #333;
	--black-grey: #444;
	--grey-black: #555;
	--grey: #666;
	--light-grey: #999;
	--white: #fff;
}

main.tris
	{
	padding:1em;
	background-color:var(--light-black);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	min-height: 100vh;
	flex-wrap: wrap;
	}

main.tris section
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 30vw;
	/* min-height: 30vw; */
}

main.tris section:first-of-type
{
	max-width: 30vw;
}

#anteprima > *
{
	font-size: 10pt;
	text-align: center;
}

/* #anteprima td
{
	max-width: 30px;
	max-height: 30px;
} */


.tris.form
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.tris.form form > *
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
		/* padding: 0.5em; */
}

.tris.form form input
{
	color: var(--black);
}

.tris.form form button
{
	margin: 1em;
}

.tris a
{
	background-color:var(--black-grey);
	padding: 0.2em;
}



ul
{
	list-style: none;
}


ol ul > li
{
	display:inline;
	position:relative;
	font-size: 0.75em;
}

ol ul li ul
{
	display: none;
	position: absolute;
	top:0;
	left:100%;
	background-color:var(--black-grey);
}

ol ul li:hover ul
{
	display: block;
	z-index: 10;
}




#scacchiera
{
	text-align: center;
}



.tris h1
{
	padding: 0.5em 0;
	min-width: 100%;
	text-align: center;
}


main.tris > section table ~ *
{
	padding-top: 0.4em;
}

main.tris > section:nth-child(2) > *
{
	padding-bottom: 0.4em;
}

.tris *
{
	color: rgba(255,255,255,0.7);
}

main.tris img
{
	text-align: center;
	width: 2em;
}

main.tris p.winner
{
	font-weight: bold;
}


/* board */
main.tris table
{
	margin: 0 auto;
	text-align: center;
	color: var(--black);
	border-collapse:collapse;
	user-select: none;
}

main.tris table td
{
	width:2em;
	height:2em;
	text-align:center;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
	border:2px solid rgba(255,255,255,0.7);
	background-color: transparent;
}

main.tris table td button
{
	display:block;
	text-decoration:none;
	cursor: pointer;
	background-color: transparent;
	width: 3em;
	height: 3em;
}

main.tris table td button:hover
{
background-image: radial-gradient(var(--grey) -100%, var(--light-black) 75%);
}


main.tris table span
{
	padding: 0.75em;
}

main.tris p,
main.tris a,
.tris button
{
	font-size:0.6rem;
}

main.tris table ~ form button:hover
{
	background-color: var(--grey-black);
}





form.tris-controls *
{
	margin-bottom: 0.4em;
	font-size:0.6rem;
}

form.tris-controls select
{
	background: transparent;
	border: none;
	color: var(--white);
}

form.tris-controls select option
{
	background-color:var(--black-grey);
}

/* form.tris-controls option[selected]

{
	display: none;
} */

form.tris-controls button,
.tris button
{
	background: var(--grey-black);
	color: var(--white);
	border-radius: 0.5em;
	width: 10em;
	cursor: pointer;
	border: none;
}

form.tris-controls button:hover
{
	background-color: var(--grey-black);
	font-weight: 100;
	transform: scale(0.99, 0.99);
}

form.tris-controls p
{
	text-align: center;
}




.tris.form form .togglePasswd
{
	flex-direction: row;
}

.vince
{
	color: black;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: color 5s ease-in;
	transform: scale(1.2,1.2);
	color: white;

}







.clipboard
{
	text-align: right;
	margin-right: 5vw;
}

.clipboard input
{
	color: black;
	width: 30vw;
}
.clipboard label
{
	font-size: 0.7rem;
	display: block;
}
.clipboard button
{
	width: 2em;
	padding: 0.2em;
}
.clipboard button img
{
	width: 1.5em;
}




/*schermi ampi*/
@media screen and (min-width:769px)
{
	main.tris
	{
		background-image: url("./img/triangle.png");
		background-repeat: repeat-x;
		background-position: bottom;
	}


	form.tris-controls button
	{
		display: block;
		margin: 0.5em auto;
	}

	form.tris-controls label,
	form.tris-controls select
	{
		display: inline;
	}
}



/*schermi compatti*/
@media screen and (max-width:768px)
{
	main.tris
	{
		flex-direction: column;
		padding: 0;
	}

	form.tris-controls
	{
		padding-top:1em;
	}

	main.tris section
	{
		flex-direction: column;
		margin: 0 auto;
	}

	main.tris section:first-of-type
	{
		display: none;
	}

	form.tris-controls, form.tris-controls p
	{
		background-color: #222;
		color: var(--white);
		width:100vw;
		text-align: center;
	}

	form.tris-controls button
	{
		height: 3em;
	}

	.clipboard
	{
		text-align: center;
	}

	.clipboard input
	{
		width: 60vw;
	}
}
